<div class="content">
    <h1>This is Personal Page</h1>
    <div class="flex-container">
        <a name="MyHomeTown"></a>
        <h4>My home town</h4>
        <p>I was born in the Bulgarian town of Sliven, settled on the southern slopes of the Balkan mountains. It is a
            calm and peaceful place. With their steep falls and not so dense forests The Blue Stones national park and
            Karandila overlook the entire town.</p>
        <p>As with most other Bulgarian towns, people have lived at the place where the town stands today since ancient
            times. Sign of these is the early medieval fortress of Tudia (Туида) which has been reconstructed in recent
            years and has become a tourist attraction.</p>
        <p>The more recent history of the town is connected with first seeds of industrialization in the Bulgarian
            region, with the opening of the first factory and with the strong anti-Osman movement. The town has the
            nickname "The town of the one hundred 'guerilla fighter leaders'" (Градът на стоте войводи) and is widely
            known in Bulgaria with people like Hadji Dimitar Asenov and Panaiot Hitov.</p>


        <a name="JuniorYears"></a>
        <h4>Junior years</h4>
        <p>Before I was 7 years old, we changed several accommodations around the town.
            So I can say, I saw all the beauty of the different districts of the town.
            Of course, I was in a very tender age to remember the details. When I become
            second grade in the Elementary School my family finally settled in the house we
            used to live for the next 20 years. Well, for me they were just 15 as I moved out to study at university,
            but more on that later.</p>
        <p>The first seven years of my education, I spent at the 4th Elementary School named after Dimitar Petrov.
            He was a wealthy citizen from the beginning of the XXth century who left a considerable amount of money
            to the municipality to raise a school bearing his name. It is not one of the big schools in the town but
            definitely, it is one of the better schools.</p>

        <a name="HighSchool"></a>
        <h4>High School</h4>
        <img src="https://scontent.fsof3-1.fna.fbcdn.net/v/t1.0-9/69741_123991560997267_1215017_n.jpg?_nc_cat=106&_nc_ht=scontent.fsof3-1.fna&oh=3af5040712941d63a0eb101bda2f1fad&oe=5D04ED8C"
            alt="Daniel and Me">

        <p>After seventh grade, I applied and got admitted to the best high school in the municipality. Of course,
            I am not totally objective. The high school of mathematics and natural sciences Dobri Chintulov.
            The answer to the question of why I decided to apply there is as straight forward as it is elusive
            to me to this day. In elementary school, I was good at math and the natural sciences - biology,
            chemistry, physics, etc. Languages, however, were simply not my thing. But history was, as you
            will find out later. That is why there was a bit of a dilemma between math school and the historical
            school. I suppose, the fact that my grandfather and father studied at the predecessors of the same
            school tilted the balance in favour of the math school.</p>
        <p>In high school, I got many new friends. Unfortunately, broke ties with old ones. Similar to everyone
            else my first encounters with the temptations of life were in high school - girls, alcohol, etc. But let not
            get into details.</p>
        <p>During my education there, I soon show my interest in sciences and history. I had a teacher Mrs Elenska
            that strengthen my interest in history. However, with time I decided that dwelling on the past is not
            what I want to do for a living. I spent some time wondering whether I should try a medical carrier but
            in the end decided that working with patients is not my thing. Because of this, I turned to another
            'life science' - molecular biology.</p>

        <a name="University"></a>
        <h4>University</h4>
        <p>
            And thus, I applied in the Sofia University 'St. Kliment Ohridski' and got admitted to the Molecular
            Biology Programme. Then followed four years of hard studying, restless nights before exams, long days
            in the labs, and occasionally very bad hangovers.
        </p>
        <p>Living in the dormitory was a real crucible. It is for everyone. Three people cramped in not so big
            room. At least in my case, there were two rooms and a very big bathroom. Often I joked with my
            colleagues that my bathroom is bigger than their entire rooms. Of course, this was an exaggeration,
            but indeed, I was one of the lucky ones. I made a lot of new friends. This time kept most of the old
            ones, with which I am close even to this day.</p>
        <p>Slowly but surely, I understood that being in a wet lab and mixing different kinds of reagents to extract
            some molecule from a sample or measure it was not exactly the thing I wanted to do. I never forgot my
            more mathematical background and excelled at the more technical and mathematical disciplines at the
            university. Most of my other colleagues just could compete with the fact that I had around 5 times
            more math hours at high school. So I started doing most of the analysis work. Wrangling with data,
            doing plots and figures, statistics. Most of the people were very happy they can outsource this activity
            to someone else.</p>

        <a name="Abroad"></a>
        <h4>Living abroad</h4>
        <p>So, the opportunity arose and in the summer of 2015, I moved to Denmark to study at Aalborg University.
            Aalborg is a beautiful town located at the northern part of Jutland peninsula. There are many international
            students because of the two big educational institutions: Aalborg University and University College of
            Northern Denmark. There I studied Nanobiotechnology at the department of physics. </p>
        <p>Aalborg is a lovely place. Just north of it lies the Limfjorden that separates the proper town of Aalborg
            from the municipality of Norresundby. There I met a lot of different people, indeed it was strange to me. My
            head was aching for constantly speaking different languages. But thanks to that I started speaking English
            more fluently and started learning Danish.
        </p>
        <p>After I graduated from Aalborg University, I moved to Copenhagen to find a job more easily and hopefully
            faster. Copenhagen is quite different than the partly rural area where Aalborg is. A lot of people a lot of
            traffic and some pollution. But on the bride side a lot of work opportunities and a lot of cycling. I forgot
            to mention, that in Denmark I discovered cycling as the best way to commute around a town or a city. This
            was the thing I missed the most from my daily life when I got back to Bulgaria in the spring of 2018.</p>

        <a name="BackToSofia"></a>
        <h4>Back to Bulgaria</h4>
        <p>After almost two and a half years in Denmark and because of some personal problems I got home to Bulgaria.
            The first several months I was wondering whether I should not go abroad again. But the knowledge that my
            country is not such a bad place as everyone here describes it finally persuaded me that, at least for now,
            Bulgaria is the place where I want to stay. I even tried finding a job in my home town but more or less
            there are no companies that needed my expertise and I was not ready to found my own.</p>
        <p>After this realisation, I decided to move back to the capital Sofia. I knew that there are a lot of companies
            that will be eager to have a person like me in their offices. And after just a month and several interviews
            I found a job in the IT outsourcing branch.</p>
        <p>At the moment, I am working as a network support engineer. My team is first-line support for enterprise
            customers of the company we are subcontractors for. It is a dynamic and sometimes challenging job that
            forces you to think fast to resolve the problem of the customer and in doing so minimise the business and
            financial impact to the company or firm.</p>

        <a href="/personal#MyHomeTown">Test Anchor Link to My Home Town...</a>; <a href="/personal#Abroad">This
            is to Living Abroad...</a>
    </div>
</div>