<div id="outer" class="container">
    <div class="container">
        <ngb-carousel>
            <ng-template ngbSlide>
                <div class="picsim-img-wrapper">
                    <img src="assets\img\зимна_витоша.JPG" alt="Winter in Vitosha">
                </div>
                <div class="carousel-caption">
                    <h3>First Slide</h3>
                    <p>Some text</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsim-img-wrapper">
                    <img src="assets\img\гледам_лошо_панчарево.JPG" alt="Me in Pancharevo">
                </div>
                <div class="carousel-caption">
                    <h3>Second Slide</h3>
                    <p>Some text</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsim-img-wrapper">
                    <img src="assets\img\във_водата.jpg" alt="Me in the Water">
                </div>
                <div class="carousel-caption">
                    <h3>Third Slide</h3>
                    <p>Some text</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsim-img-wrapper">
                    <img src="assets\img\с_усмивка_на_панчарево.JPG" alt="Me in Smiling">
                </div>
                <div class="carousel-caption">
                    <h3>Fourth Slide</h3>
                    <p>Some text</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsim-img-wrapper">
                    <img src="assets\img\paintball.JPG" alt="Me playing Paintball">
                </div>
                <div class="carousel-caption">
                    <h3>Fourth Slide</h3>
                    <p>Some text</p>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>