/* ngb-carousel {
    width: 66%;
    min-height: 50rem;
} */

.container {
    width: 100%;
    height: auto;
}

img {
    width: 100%;
    height: auto;
}

#outer {
    width: 200rem;
    height: 50rem;
    padding: 3rem;
}