<div class="container-view content">
    <h1>Work Experience and Projects</h1>
    <div class="work-card full-time">
        <h2 class="header">Junior Network Support Engineer</h2>
        <h5 class="period">
            <time datetime="2018-12-10 00:00">10 December 2018</time>
            -
            <time datetime="2019-10-11 00:00">11 October 2019</time>
        </h5>
        <div class="description">
            ✔ Troubleshooting network related problems; <br/>
            ✔ Incident ownership - Investigation, Diagnosis, and Resolution; <br/>
            ✔ Following ITIL processes and procedures for incident management; <br/>
        </div>
    </div>
    <div class="work-card full-time">
        <h2 class="header">Remote Site Monitor - Central</h2>
        <h5 class="period">
            <time datetime="2015-02-16 00:00">16 February 2015</time>
            -
            <time datetime="2015-07-03 00:00">03 July 2018</time>
        </h5>
        <div class="description">
            ✔ Provided help in clinical trials projects start-up activities; <br/>
            ✔ Cooperated with different departments in initiating clinical trial projects; <br/>
            ✔ Used Excel and proprietary data and analytics platforms for analysis of project data; <br/>
            <br/>
            As Remote Site Monitor, I have worked on start-up activities for clinical trial projects. My
            responsibilities included communicating with different peers from the different departments of the
            organisation. I used Excel and proprietary data analytics platform build upon TIBCO Spotfire Dashboards to
            analyse data from clinical trial projects. Furthermore, I gained knowledge about GCP guidelines and
            procedures.
        </div>
    </div>
    <div class="work-card full-time">
        <h2 class="header">Sales Representative</h2>
        <h5 class="period">
            <time datetime="2014-10-14 00:00">14 October 2014</time>
            -
            <time datetime="2015-01-04 00:00">03 January 2015</time>
        </h5>
        <div class="description">
            ✔ Expanding customer network; <br/>
            ✔ Distribution and selling of laboratory equipment and consumables; <br/>
            ✔ Advising customers about the company's products; <br/>

            DANS PHARMA is one of the big resellers and manufacturers of laboratory equipment in my home country. I was
            junior sales representative responsible for contacting new customers and maintaining the network of current
            customers. Priority of my work was In Vitro Diagnostics kits and molecular biology kits. Besides this main
            goal, I was also introducing customers to the rest of the company products comprising of the full spectrum
            of laboratory equipment and consumables. I gained solid communication skills.
        </div>
    </div>
    <div class="work-card part-time">
        <h2 class="header">Technical Support Specialist</h2>
        <h5 class="period">
            <time datetime="2013-12-20 00:00">20 December 2013</time>
            -
            <time datetime="2014-04-10 00:00">10 April 2014</time>
        </h5>
        <div class="description">
            ✔ Responsible for coordination of a team constituted of me and another specialist. We provided support
            (software and hardware), maintenance and expansion of computer stations and Local Area Network (LAN) in the
            Faculty of biology; <br/>
            ✔ Collaboration with the University Center for Information and Communication Technologies to ensure smooth
            workflow of the university network; <br/>
            ✔ Deployment and maintenance of a Help Desk System (still operational to this day); <br/>

            As a specialist in the IT support staff, I was responsible for the maintenance of the faculty computer
            network and computers. The team I was part of supported and maintained the software and the hardware in the
            Faculty of Biology. Among the things I was doing, there were daily maintenance tasks, resolving user issues,
            connecting new users to the network, etc. Furthermore, during my stay, we implemented a help desk system for
            the needs of the faculty. The job included close collaboration with the University Center for Information
            and Communication Technologies in order to ensure smooth workflow if the university network and IT
            infrastructure.
        </div>
    </div>
    <div class="work-card part-time">
        <h2 class="header">Laboratory Technician</h2>
        <h5 class="period">
            <time datetime="2012-06-01 00:00">01 June 2012</time>
            -
            <time datetime="2014-10-14 00:00">14 October 2014</time>
        </h5>
        <div class="description">
            ✔ Research on biological bilayers and influence of antioxidants on them with aim for medical applications; <br/>
            ✔ GC/FID analysis of lipids and lipid derivatives; <br/>
            ✔ HPLC analysis of lipids; <br/>
            ✔ Analysis of lipid vesicles with Fluorescent Microscopy and Spectroscopy; <br/>
            ✔ Maintenance of laboratory equipment and contacting suppliers; <br/>

            During my stay in the institute, I was using different analytical techniques for analysis of lipids and
            lipid vesicles and membranes. This includes GC/FID and HPLC of lipids and lipid derivatives, Fluorescent
            Microscopy and Spectroscopy of lipid mixtures and vesicles. I have also contacted suppliers in order to
            ensure the operation of the lab I was part of. There were also continuous interactions and cooperation with
            different research institutes
        </div>
    </div>
</div>