<div class="container-view content">
    <h1>This is the Work Page</h1>
    <div class="work-card full-time">
        <h2 class="header">Junior Network Support Engineer</h2>
        <h5 class="period">
            <time datetime="2018-12-10 00:00">10 December 2018</time>
            -
            current
        </h5>
        <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a sollicitudin tortor. Morbi mollis erat at
            lorem interdum, quis dapibus ligula vehicula. In a nunc eros. Mauris faucibus pharetra dui non accumsan.
            Quisque molestie elementum leo, et dictum augue ultricies a. Donec vitae eros ligula. Ut condimentum
            accumsan vulputate. Vestibulum in nisl vulputate, semper sem in, fringilla dui. Ut non euismod ipsum. Ut sit
            amet sem libero. Aenean et mauris elit. Suspendisse imperdiet lacus nisl.
        </div>
    </div>
    <div class="work-card full-time">
        <h2 class="header">Remote Site Monitor - Central</h2>
        <h5 class="period">
            <time datetime="2015-02-16 00:00">16 February 2015</time>
            -
            <time datetime="2015-07-03 00:00">03 July 2018</time>
        </h5>
        <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras maximus est odio, venenatis aliquam ligula
            condimentum ac. Vestibulum consequat vestibulum mi. Sed varius magna eget neque aliquam, eu suscipit felis
            tempus. Aenean congue metus sapien, quis lacinia mauris efficitur at. Nullam quis porttitor mauris, vitae
            malesuada massa. Cras lacinia velit tincidunt sapien sodales, vitae dapibus leo consectetur. Cras faucibus
            sodales pharetra. Integer viverra nisl mauris, et lacinia nisl lacinia sit amet. Mauris rutrum sollicitudin
            quam.
        </div>
    </div>
    <div class="work-card full-time">
        <h2 class="header">Sales Representative</h2>
        <h5 class="period">
            <time datetime="2014-10-14 00:00">14 October 2014</time>
            -
            <time datetime="2015-01-04 00:00">03 January 2015</time>
        </h5>
        <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tristique quam elit, a vulputate sem
            hendrerit eu. Ut odio lacus, egestas id bibendum a, rhoncus sed ex. Mauris eget luctus tellus, quis
            pellentesque nunc. Ut eget mattis augue. Integer congue magna a massa efficitur, sit amet faucibus justo
            sodales. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pellentesque rutrum sem, id commodo
            metus blandit vel. Sed ex dui, vestibulum ut leo a, porttitor laoreet.
        </div>
    </div>
    <div class="work-card part-time">
        <h2 class="header">Technical Support Specialist</h2>
        <h5 class="period">
            <time datetime="2013-12-20 00:00">20 December 2013</time>
            -
            <time datetime="2014-04-10 00:00">10 April 2014</time>
        </h5>
        <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum, erat at vulputate dapibus, felis
            lacus dictum odio, vel tempor diam ante quis dolor. Donec auctor tellus id ipsum congue fringilla.
            Vestibulum dapibus imperdiet enim ac auctor. Fusce ornare sem neque. Donec non finibus nulla. Pellentesque
            fringilla augue vel condimentum condimentum. Vestibulum non quam a orci sollicitudin consequat. Vivamus eu
            libero a magna malesuada placerat. Duis scelerisque erat odio, sit amet ornare sem blandit non.
        </div>
    </div>
    <div class="work-card part-time">
        <h2 class="header">Laboratory Technician</h2>
        <h5 class="period">
            <time datetime="2012-06-01 00:00">01 June 2012</time>
            -
            <time datetime="2014-10-14 00:00">14 October 2014</time>
        </h5>
        <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec dictum orci. Nam quis feugiat nisi, vitae
            laoreet orci. Donec placerat orci ac dignissim sollicitudin. Vestibulum mollis varius quam nec egestas.
            Quisque congue augue at nisl ornare, nec dapibus dui molestie. In elementum leo id nibh ultricies, et cursus
            urna ultricies. Duis suscipit iaculis purus quis sodales. Praesent laoreet leo nunc, nec sodales odio
            vehicula vulputate. Phasellus lacus ex, efficitur eu mi nec, volutpat gravida.
        </div>
    </div>
</div>