<div class="main-menu">
    <nav>
        <ul class="site-menu">
            <li><a href="" class="nav-link" routerLink="/welcome">Home</a></li>
            <li><a href="" class="nav-link" routerLink="/academic">Academia</a></li>
            <li><a href="" class="nav-link" routerLink="/work">Work</a></li>
            <li><a href="" class="nav-link" routerLink="/personal">Personal Life</a></li>
            <li><a href="" class="nav-link" routerLink="/contact">Contact</a></li>
        </ul>
    </nav>
</div>