.educard {
    width: 300px;
    height: 200px;
    background-color: gray;
    margin: 1rem;
}

.container-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}