<div class="container-view content">
    <h1>This is the Academic Page</h1>
    <div class="educard">
        <h4>MSc in Bio and Medical Informatics</h4>
        <div>Period</div>
        <div>Description</div>
    </div>
    <div class="educard">
        <h4>MSc in Engineering - Nanobiotechnology</h4>
        <div>Period</div>
        <div>Description</div>
    </div>
    <div class="educard">
        <h4>BSc in Molecular Biology</h4>
        <div>Period</div>
        <div>Description</div>
    </div>
</div>