<div class="flex-container content">
    <h1>This is the Academic Page</h1>
    <div class="educard">
        <div class="logo">
            <!-- <img src="assets/img/bioinfo.jpeg" alt="Bioinformatics"> -->
        </div>
        <h2 class="header">MSc in Bio and Medical Informatics</h2>
        <div class="period">
            <time datetime="2014-10-01 00:00">01 October 2014</time>
            -
            ongoing
        </div>
        <div class="description">
            ✔ Interdisciplinary field of study oriented on statistical analysis of biological data and designing systems
            for processing of biological and medical data; <br/>
            ✔ 56 ECTS Completed, Will graduate by the end of 2019; <br/>
            <br/>
            The Bio and Medical Informatics is an interdisciplinary programme oriented around a combination of different
            scientific areas like informatics and mathematics, biology, and medicine and health sciences where I really
            found my passion. On this intersection between science disciplines, we are able to produce greater results.
            I have gained a solid understanding of software development, OOP, scientific databases, scripting,
            statistics and biostatistics and their applications. I have completed 56 ECTS in this programme out of 90.
        </div>
        <div class="link">
            <a href="https://www.fmi.uni-sofia.bg/bg/bio-i-medicinska-informatika">Read more...</a>
        </div>
    </div>
    <div class="educard">
        <div class="logo">
            <!-- <img src="assets/img/nano.jpg" alt="Nanotech"> -->
        </div>
        <h2 class="header">MSc in Engineering - Nanobiotechnology</h2>
        <div class="period">
            <time datetime="2015-09-01 00:00">01 September 2015</time>
            -
            <time datetime="2017-06-30 00:00">30 June 2017</time>
        </div>
        <div class="description">
            ✔ Interdisciplinary field of study, requiring expertise within physics, chemistry, biotechnology,
            mathematics, and materials science; <br/>
            ✔ My master thesis was about Antimicrobial Peptides (AMPs) their diversity and mode of action; <br/>
            ✔ Graduated with 120 ECTS; <br/>
            <br/>
            An interdisciplinary field of study, requiring expertise in physics, chemistry, biotechnology, mathematics
            and material science. During the study, I get knowledge in designing, fabricating and controlling materials
            and components on the nanoscale. We were introduced to biotechnological research, especially I gained
            insights into the biochemical and biophysical processes in proteins and their interactions. Key subjects in
            the programme were gene technology and high-throughput systems, self-organizing systems, molecular
            simulations and the function of organic molecules in nanomachines and nanoelectronics.
        </div>
        <div class="link">
            <a href="https://www.en.aau.dk/education/master/nanobiotechnology">Read more...</a>
        </div>
    </div>
    <div class="educard">
        <div class="logo">
            <!-- <img src="assets/img/mol_bio.jpg" alt="Molecular Biology"> -->
        </div>
        <h2 class="header">BSc in Molecular Biology</h2>
        <div class="period">
            <time datetime="2010-10-01 00:00">01 October 2010</time>
            -
            <time datetime="2014-07-22 00:00">22 July 2014</time>
        </div>
        <div class="description">
            ✔ Program oriented around Biochemistry, Molecular biology and Microbiology; <br/>
            ✔ I have gained knowledge in other fundamental biological disciplines: Biotechnology, Botany, Zoology,
            Ecology; <br/>
            ✔ Graduated with 240 ECTS; <br/>
            <br/>
            The programme includes diverse areas of the biological knowledge. It starts with fundamental courses like
            chemistry, physics, mathematics and through the years progresses towards more advanced themes like cell
            biology, developmental biology, biochemistry, molecular genetics, microbiology, molecular virology,
            biophysics, physiology and of course molecular biology. Furthermore, the programme includes basic courses in
            zoology, botany and ecology. My Thesis was done in collaboration with the institute where I was working. It
            was a research of the phase behaviour of lipid mixtures studied using fluorescence spectroscopy.
        </div>
        <div class="link">
            <a
                href="https://www.uni-sofia.bg/index.php/bul/universitet_t/fakulteti/biologicheski_fakultet2/specialnosti/bakalav_rski_programi/biologicheski_fakultet/molekulyarna_biologiya">Read
                more...</a>
        </div>
    </div>
</div>