<div class="flex-container content">
    <h1>This is the Academic Page</h1>
    <div class="educard">
        <div class="logo">
            <img src="assets/img/bioinfo.jpeg" alt="Bioinformatics">
        </div>
        <h2 class="header">MSc in Bio and Medical Informatics</h2>
        <div class="period">
            <time datetime="2014-10-01 00:00">01 October 2014</time>
            -
            ongoing
        </div>
        <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis rutrum dolor ut eleifend tincidunt. Vestibulum
            sed nibh nec turpis sodales faucibus vitae id lorem. Aliquam blandit elit non nibh faucibus, ac venenatis
            sem dapibus. Vivamus convallis tellus tempor lorem dapibus, sit amet sagittis lacus pulvinar. Fusce in
            faucibus velit. Nam dictum, erat sit amet pellentesque convallis, turpis ligula tincidunt massa, et viverra
            leo nulla finibus massa. Pellentesque tempor sit amet magna eu bibendum. Ut commodo.
        </div>
        <div class="link">
            <a href="https://www.fmi.uni-sofia.bg/bg/bio-i-medicinska-informatika">Read more...</a>
        </div>
    </div>
    <div class="educard">
        <div class="logo">
            <img src="assets/img/nano.jpg" alt="Nanotech">
        </div>
        <h2 class="header">MSc in Engineering - Nanobiotechnology</h2>
        <div class="period">
            <time datetime="2015-09-01 00:00">01 September 2015</time>
            -
            <time datetime="2017-06-30 00:00">30 June 2017</time>
        </div>
        <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut fermentum sem. Nulla placerat iaculis
            aliquam. Duis mattis pretium consequat. Proin in nulla quam. Aenean et venenatis augue, nec condimentum mi.
            Donec porta, sem a dapibus laoreet, leo enim dignissim sapien, ut varius velit libero ut tortor. Nunc vitae
            lacinia velit. Donec dapibus odio augue, nec mattis mi laoreet non. Vestibulum gravida id tellus vel varius.
            Integer vitae aliquet lectus. Etiam malesuada, risus non condimentum.
        </div>
        <div class="link">
            <a href="https://www.en.aau.dk/education/master/nanobiotechnology">Read more...</a>
        </div>
    </div>
    <div class="educard">
        <div class="logo">
            <img src="assets/img/mol_bio.jpg" alt="Molecular Biology">
        </div>
        <h2 class="header">BSc in Molecular Biology</h2>
        <div class="period">
            <time datetime="2010-10-01 00:00">01 October 2010</time>
            -
            <time datetime="2014-07-22 00:00">22 July 2014</time>
        </div>
        <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rhoncus ornare venenatis. Donec
            pellentesque libero eget eros vehicula, quis pharetra ex lobortis. Nunc lacinia tristique risus, eu rutrum
            mi porttitor ac. Curabitur id arcu magna. Phasellus id leo ut nulla viverra varius. Aliquam in sem arcu. In
            hac habitasse platea dictumst. Sed consequat consequat placerat. Sed rutrum tortor nec felis aliquet, sit
            amet semper risus laoreet. Curabitur velit purus, cursus et massa ac, fringilla cursus.
        </div>
        <div class="link">
            <a
                href="https://www.uni-sofia.bg/index.php/bul/universitet_t/fakulteti/biologicheski_fakultet2/specialnosti/bakalav_rski_programi/biologicheski_fakultet/molekulyarna_biologiya">Read
                more...</a>
        </div>
    </div>
</div>